<div class="center">
    <div class="container">
        <p><a routerLink="../me">&lt; Back</a></p>
        <form (submit)="OnSubmit(frm.value)" #frm="ngForm">
            <div class="table">
                <table>
                    <tr>
                        <td>
                            <h1>Change Info</h1>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="image">
                                <input #imageInput accept="image/*" (change)="uploadImage($event)" type="file">
                                <span class="icon material-symbols-outlined">
                                    photo_camera
                                </span>
                                <p>Photo</p>
                                <img [src]="me.imgUrl??'assets/user.png'" alt="">
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <p>Name</p>
                            <input ngModel name="username" placeholder="Enter your name" type="text">
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <p>Bio</p>
                            <textarea ngModel name="bio" cols="25" rows="3" placeholder="Enter your Bio"
                                type="text"> </textarea>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <p>Phone</p>
                            <input ngModel name="phoneNumber" placeholder="Enter your Phone" type="text">
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <p>Email</p>
                            <input ngModel name="email" placeholder="Enter your Email" type="text">
                        </td>

                    </tr>
                    <!-- <tr>
                        <td>
                            <p>Password</p>
                            <input  placeholder="Enter your Password" type="text">
                        </td>

                    </tr> -->
                    <tr>
                        <td>
                            <button class="btn primary">Save</button>
                        </td>

                    </tr>
                </table>
            </div>
        </form>
        <div class="left-right form-footer">
            <p>created by:Samandar02</p>
            <p>dev.io</p>
        </div>
    </div>
</div>