/* You can add global styles to this file, and also import other style files */
:root {
// colors
    --primary-l: #ff3333;
    --primary: #ff1717;
    --primary-d: #b30000;


    --secondary-l: #eeeeee;
    --secondary: #e2e2e2;
    --secondary-d: #888888;

// font size
    --font-size:16px;
    --radius-size:24px
}


