<div class="center">
    <div class="header">
        <h1>Personal data</h1>
        <p>Shoe your name or change it</p>
    </div>
    <div class="left-right form-header">
        <div class="title">
            <h1>Profile</h1>
            <p>Show or edit your profile</p>
        </div>
        <div class="action">
            <a routerLink="edit">Edit</a>
        </div>
    </div>
    <div class="form-body">
        <table>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="left-right form-footer">
        <p>created by:Samandar02</p>
        <p>dev.io</p>
    </div>
</div>
