<div class="modal">
    <form>
        <div class="form">
            <div class="brand">
                <img src="https://images-platform.99static.com//3XRYufZMWht0KxKsfziqpiDDxLw=/115x120:857x862/fit-in/500x500/99designs-contests-attachments/116/116335/attachment_116335374"
                    alt="brand">
            </div>
            <div class="title gap-m">
                <b>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla illo molestias repellat.</p>
                </b>
            </div>
            <div class="headline gap-m">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam deleniti et culpa earum omnis neque
                    officia
                    doloremque quis ipsam! Consequatur quaerat praesentium suscipit fuga quo eaque expedita at cumque
                    aspernatur.</p>
            </div>
            <div class="form-group">
                <div class="form-control ">
                    <span class="icon material-symbols-outlined">
                        mail
                        </span>
                    <input placeholder="E-mail" type="text" name="username">
                </div>
                <div class="form-control ">
                    <span class="icon material-symbols-outlined">
                        lock
                        </span>
                    <input placeholder="Password" type="password" name="password">
                </div>
            </div>
            <div class="action">
                <button>Login</button>
            </div>
        </div>
    </form>
    <p>account have not yet <a href="">SignUp</a></p>
</div>